* {
  /* font-family: "Manrope", sans-serif !important; */
  font-family: 'Poppins', sans-serif !important;
}

:root {
  --primary: #0b61a6;
  /* --primary: #4b9edd; */
  /* --secondary: ; */
}

h1 {
  font-size: 52px !important;
  font-weight: 800 !important;
}

h2 {
  font-size: 2.5rem !important;
  font-weight: 800 !important;
  color: var(--primary);
  text-transform: uppercase;
}

p {
  font-size: 20px !important;
  font-weight: 400 !important;
}

button {
  font-size: 22px;
  font-weight: 500;
  color: white;
  background-color: var(--primary);
  border: 0px solid white;
  width: fit-content;
  padding: 10px;
  padding-inline: 30px;
  border-radius: 50px !important;
  text-transform: uppercase !important;
}

.wrapper {
  overflow-x: hidden !important;
  position: relative;
}



.top-section {
  /* position: absolute; */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* bottom, image */ url("/media/img1.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  padding-inline: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section p {
  max-width: 700px;
  font-size: 1.6rem !important;
}
.top-section h1 {
  max-width: 700px;
  font-size: 4rem !important;
}
.top-section p {
  max-width: 700px;
  font-size: 1.5rem !important;
}

.about {
  margin-top: 200px;
  display: flex;
  margin-bottom: 200px;
}

.about h2 {
  color: var(--primary);
}

.why-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/media/img4.jpg");
  background-position: center;
  background-size: cover;
}

.why-us {
  display: flex;
  color: white;
  background-color: var(--primary);
  height: 50vh;
}

.why-us h2 {
  color: white;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.why-card {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: -30px;
  margin-bottom: 30px;
  z-index: 999999;
  text-align: center;
}

.facilities {
  margin-top: 100px;
}

.facilities h2 {
    color: var(--primary);
}

.fac-card {
  display: flex;
  width: 30%;
  /* background-color: #f1224a; */
  border-radius: 20px;
  min-height: 120px;
  cursor: pointer;
}

.fac-card:hover {
    color: var(--primary);
    scale: 1.05;
    animation-duration: 1s;
}

.fac-card h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fac-img {
    width: 100%; height: 100%;
    object-fit: cover; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
 
.range h2 {
    color: var(--primary);
}

@media screen and (max-width: 760px) {

  .top-section {
    padding-inline: 20px;
  }

  h1 {
    font-size: 20px !important;
    font-weight: 800 !important;
  }
  
  h2 {
    font-size: 2rem !important;
    font-weight: 800 !important;
    color: var(--primary);
    text-transform: uppercase;
  }
  
  p {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .top-section p {
    max-width: 700px;
    font-size: 1.2rem !important;
  }
  .top-section h1 {
    max-width: 700px;
    font-size: 3rem !important;
  }

  .about {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .why-us {
    flex-direction: column;
    height: auto;
  }

  .why-img {
    min-height: 250px;
  }

  .cards {
    margin: 0;
    flex-direction: column;
  }

  .why-card {
    margin: auto;
    width: 90%;
    margin-top: 20px;
  }

  .facilities {
    margin-top: 50px;
  }
 
  .card-list {
    flex-direction: column;
    margin: auto;
  }

  .fac-card {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  .application-container {
    flex-direction: column;
  }

}

